# https://direnv.net/
export HIVELOCITY_API_KEY=...
export KUBECONFIG=$PWD/.mgt-cluster-kubeconfig.yaml
export CLUSTER_NAME="hvtest-$USER"
export HIVELOCITY_CONTROL_PLANE_MACHINE_TYPE=caphvlabel:deviceType=${USER}-controlplane
export HIVELOCITY_WORKER_MACHINE_TYPE=caphvlabel:deviceType=${USER}-worker
